@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --dsektop_width: 1080px;
}

img {
  max-height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
}

.colors {
  color: #608ad8;
  color: #19284d;
}

/* HEADER */
.header_container {
  height: 5rem;
  padding: 1rem 3rem;
  background-color: #608ad8;
  background-color: #19284d;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
.header_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--dsektop_width);
  margin: auto;
  position: relative;
}
.header_content nav {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.header_content nav a {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}
.header_content nav a:hover {
  border-bottom: 2px solid;
}
.header_content .image_container {
  display: flex;
  align-items: center;
}
.header_content .image_container span {
  margin-left: 1rem;
  transform: translateY(-10%);
}

.header_content .mobile_button,
.header_content .mobile_nav {
  display: none;
}


/* MAIN BAR */
main .body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding: 3rem;
  max-width: var(--dsektop_width);
  margin: auto;
}

main .side_bar {
  padding: 2rem;
  background-color: #081935;
  height: max-content;
  color: #fff;
  width: min-content;
  margin: 0 auto;
}

main .side_bar {
  display: flex;
  flex-direction: column;
}
main .side_bar img {
  margin-top: 5rem;
}

main .side_bar > h2 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

/* HERO */
section.hero {
  min-height: 100vh;
  background-color: #19284d;
  background-color: #081935;
  background-image: url('../assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .content {
  margin-left: auto;
  width: 50%;
  margin-right: 3rem;
  display: grid;
  gap: 2rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.hero .content p {
  font-size: 1.5rem;
}
.hero .content a {
  background-color: #608ad8;
  width: max-content;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s;
}

.hero .content a:hover {
  background-color: #3064c4;
}

/* SECTIONS */
section h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
section p {
  font-size: 1.25rem;
}
section > div {
  display: flex;
  gap: 5rem;
  max-width: var(--dsektop_width);
  margin: auto;
}
section > div .content { 
  width: 100%;
  height: 100%;
}
section > div img {
}

.main_bar {
  width: min-content;
  margin: auto;
}
.main_bar section {
  width: 100%;
}
section > div .content {
  align-self: center;
}
section > div .content p {
  line-height: 2rem;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
}
section > div .content h1 {
  margin-bottom: 2rem;
}

section > div .content img {
  margin: 2rem 0;
}
section:first-child > div .content:first-of-type img {
  margin-top: 0;
}

/* FOOTER */
footer {
  height: 5rem;
  background-color: #19284d;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 1080px) {
  main .body {
    grid-template-columns: 1fr;
  }
  .hero .content {
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    max-width: 400px;
  }
  .hero .content a {
    margin: auto;
  }
  .header_content .desktop_nav {
    display: none;
  }
  .header_content .mobile_button {display: block;}
  .header_content .mobile_nav.active {display: grid;}

  .header_content .mobile_nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #19284d;
    text-align: center;
    height: max-content;
    gap: 1rem;
    padding: 1rem;
    margin-top: 4rem;
  }

  .header_content .mobile_nav a {
    justify-content: center;
    padding: 1rem;
  }
  .header_content .mobile_button {
    font-size: 0.9rem;
    text-transform: uppercase;
    width: 5rem;
    height: 4rem;
    background-color: #fcc117;
    color: #19284d;
    border: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .header_content .mobile_button:hover {
    background-color: #dda503;
  }



}